[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/lowkey_fork"]
	path = themes/lowkey_fork
	url = https://github.com/maartenpeels/Lowkey-Hugo-Theme.git
